<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}"/>
        <title> Usuarios </title>
    </head>
    <body>
        <div class="cuerpo">
            <table>
                <thead>
                    <tr>
                        <th class='menu'>First name</th>
                        <th class='menu'>Last name</th>
                        <th class='menu'>Full Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario  in usuarios %}
                    <tr>
                      <th class='datos'>{{usuario['first_name']}}</th>
                      <th class='datos'>{{usuario['last_name']}}</th>
                      <th class='datos'>{{usuario['first_name']}} {{usuario['last_name']}}</th>
                    </tr>                    
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </body>
</html>